In [1]:
tmp_list_noSchema = [('A',1),('B',2)]
df = spark.createDataFrame(tmp_list,['ID','NO'])
df.collect()

In [2]:
#{}, infer schema
tmp_list = [{'ID': 'A','NO': 1}]
spark.createDataFrame(tmp_list).collect()

In [3]:
#row object
#parallelize
from pyspark.sql import Row
tmp_row = Row('ID','NO')
rdd = sc.parallelize(tmp_list_noSchema)
new_rdd = rdd.map(lambda x: tmp_row(*x))
df = spark.createDataFrame(new_rdd)
df.collect()

In [4]:
#pandas
import pandas as pd
#pd_df = pd.DataFrame({'ID': 'AA','NO': 10})
pd_df = pd.DataFrame([['A',10],['B',20]])
df = spark.createDataFrame(pd_df)
df.collect()

In [5]:
#registerDataFrameAsTable
df.createOrReplaceTempView("tbl1")
spark.sql("select * from tbl1").show()
sqlContext.registerDataFrameAsTable(df,"tbl_final")
#sqlContext.createExternalTable("tbl1")
sqlContext.sql("show tables").show()
sqlContext.sql("select * from tbl_final").show()

In [6]:
#registerFunction
#udf.register
from pyspark.sql.types import IntegerType
def strLen(x):
  return len(x)

#sqlContext.registerFunction("strLen", strLen, IntegerType())
sqlContext.udf.register("strLen", strLen, IntegerType())
sqlContext.sql("select strLen('vivek_bombatkar')").show()
sqlContext.sql("select strLen(ID) from tbl1").show()

In [7]:
df.show()
df.groupBy().avg().show()

In [8]:
df.withColumn("NO_2",df.NO + 10).show()
df.withColumnRenamed("NO","NO_2").show()

In [9]:
#pivot
df.groupBy("ID").pivot("ID").sum("NO").show()