In [1]:
tmp_list_noSchema = [('A',1),('B',2)]
df = spark.createDataFrame(tmp_list,['ID','NO'])
df.collect()

In [2]:
#{}, infer schema
tmp_list = [{'ID': 'A','NO': 1}]
spark.createDataFrame(tmp_list).collect()

In [3]:
#row object
from pyspark.sql import Row
tmp_row = Row('ID','NO')
rdd = sc.parallelize(tmp_list_noSchema)
new_rdd = rdd.map(lambda x: tmp_row(*x))
df = spark.createDataFrame(new_rdd)
df.collect()

In [4]:
#pandas
import pandas as pd
#pd_df = pd.DataFrame({'ID': 'AA','NO': 10})
pd_df = pd.DataFrame([['A',10]])
df = spark.createDataFrame(pd_df)
df.collect()